In [1]:
import pandas as pd

In [2]:
events = pd.read_parquet(path='./data/events.parquet')

In [23]:
user_id = 661379
user_items = events[events['user_id'] == user_id][['user_id','item_id']]

In [5]:
items = pd.read_parquet(path='./data/items.parquet')

In [24]:
for_agg = ['artists','albums','genres']
user_items =user_items.merge(items[['item_id'] + for_agg],on='item_id')

In [25]:
user_items

,user_id,item_id,artists,albums,genres
0,661379,105324,[41075],[10030],"[2, 102]"
1,661379,117125,[42516],[11016],[12]
2,661379,119578,[42645],[11261],[12]
3,661379,119582,[42645],[11261],[12]
4,661379,642286,[425898],[69369],"[11, 37]"
5,661379,734929,[218250],[81683],[12]
6,661379,2797495,"[218254, 667083]",[300495],[12]
7,661379,3143581,[310975],[333594],[325]
8,661379,3720361,[218250],[417293],[12]
9,661379,3735099,"[218254, 667083]",[300495],[12]
10,661379,4069956,"[42607, 42660]",[458975],[12]
11,661379,18755182,[417719],[2088885],[325]
12,661379,19167393,[430325],"[2148790, 11934074]","[1, 21]"
13,661379,21998692,[3470907],[2532013],[68]
14,661379,28036311,[90],"[3347224, 4761557, 4986720, 7823127, 16041082]","[59, 102]"
15,661379,29900404,[218323],"[3606393, 4992685]",[12]
16,661379,34568038,[42607],"[10905, 11145, 458991]",[12]
17,661379,37425683,[908764],"[4741698, 4852848, 5044977, 5233891, 5856827, ...",[16]
18,661379,39164351,"[4567903, 319533]",[5044479],[16]
19,661379,42922448,[5749746],[5691731],[68]
20,661379,43202169,"[167049, 796797]",[5740441],"[11, 20]"
21,661379,44209075,"[5706302, 4888541]","[5920222, 13713248]",[16]
22,661379,44484514,[6308207],"[5968842, 6103179, 6462933, 6592603, 6613463, ...",[16]
23,661379,51241318,"[1802873, 3135644, 9012818]","[5239478, 13040087, 13131618, 15177310, 154524...",[74]

In [26]:
weights = {}
for fild in for_agg:
    calc_weight = user_items.explode(fild).groupby(fild).agg(score=(fild,"count"))
    calc_weight['score'] = calc_weight['score'] / calc_weight['score'].sum()
    weights[fild] = calc_weight

weights

{'artists':            score
 artists
 90       0.03125
 41075    0.03125
 42516    0.03125
 42607    0.06250
 42645    0.06250
 42660    0.03125
 167049   0.03125
 218250   0.06250
 218254   0.06250
 218323   0.03125
 310975   0.03125
 319533   0.03125
 417719   0.03125
 425898   0.03125
 430325   0.03125
 667083   0.06250
 796797   0.03125
 908764   0.03125
 1802873  0.03125
 3135644  0.03125
 3470907  0.03125
 4567903  0.03125
 4888541  0.03125
 5706302  0.03125
 5749746  0.03125
 6308207  0.03125
 9012818  0.03125,
 'albums':              score
 albums
 10030     0.012048
 10905     0.012048
 11016     0.012048
 11145     0.012048
 11261     0.024096
 ...            ...
 20341956  0.012048
 20360099  0.012048
 21077118  0.012048
 21320999  0.012048
 21456214  0.012048

 [81 rows x 1 columns],
 'genres':            score
 genres
 1       0.034483
 2       0.034483
 11      0.068966
 12      0.344828
 16      0.137931
 20      0.034483
 21      0.034483
 37      0.034483
 59      0.034483
 68      0.068966
 74      0.034483
 102     0.068966
 325     0.068966}

In [27]:
item_ids = [44279380, 51516485, 28036311, 36664892, 44484514, 51241318, 34568038, 44184116, 45499814, 41667460]
items_for_rank = items[items['item_id'].isin(item_ids)]
items_for_rank

,item_id,popularity,position,name,artists,genres,albums
7,51241318,85244,301.481676,In The End,"[1802873, 3135644, 9012818]",[74],"[5239478, 13040087, 13131618, 15177310, 154524..."
9,45499814,84748,221.481262,Life,[5007577],"[11, 20]","[6109461, 7094821, 7152451, 7170954, 7285586, ..."
15,51516485,78370,330.951844,bad guy,[4353492],[70],"[7190880, 9639438, 16813354, 16828669, 1682898..."
34,44184116,67895,210.717623,Незабудка,[6125147],"[11, 20]",[5916387]
76,28036311,54716,305.181994,Still Loving You,[90],"[59, 102]","[3347224, 4761557, 4986720, 7823127, 16041082]"
77,44279380,54709,266.968945,Плакала,[915312],"[11, 16]","[5933974, 6167921, 6231886, 6244140, 6613463, ..."
228,41667460,36508,291.151556,Angetenar,[4084181],[16],"[5472076, 5855106, 5855188, 5887536, 7152451, ..."
237,44484514,35947,289.686705,Shadow,[6308207],[16],"[5968842, 6103179, 6462933, 6592603, 6613463, ..."
931,36664892,19476,356.474327,Я вернусь,[218238],"[2, 19, 102, 325, 61]","[4620360, 4654988]"
2410,34568038,11124,322.385653,Кольщик,[42607],[12],"[10905, 11145, 458991]"

In [31]:
items_for_rank['score_total'] = 0
for fild in for_agg:
    if weights[fild] is not None:
        target_indexes = list(weights[fild].index)
        items_for_rank['score_' + fild] = [weights[fild].loc[x].sum()['score'] if set(x).issubset(target_indexes) else 0 for x in items_for_rank[fild]]
        items_for_rank['score_total'] += items_for_rank['score_' + fild]

recs_df = items_for_rank.sort_values(by='score_total',ascending=False)
recs_df

/tmp/ipykernel_2830/3227357535.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  items_for_rank['score_total'] = 0
/tmp/ipykernel_2830/3227357535.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  items_for_rank['score_' + fild] = [weights[fild].loc[x].sum()['score'] if set(x).issubset(target_indexes) else 0 for x in items_for_rank[fild]]
/tmp/ipykernel_2830/3227357535.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  items_for_rank['score_total'] += items_for_rank['score_' + fild]
/tmp/ipykernel_2830/3227357535.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  items_for_rank['score_' + fild] = [weights[fild].loc[x].sum()['score'] if set(x).issubset(target_indexes) else 0 for x in items_for_rank[fild]]
/tmp/ipykernel_2830/3227357535.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  items_for_rank['score_total'] += items_for_rank['score_' + fild]
/tmp/ipykernel_2830/3227357535.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  items_for_rank['score_' + fild] = [weights[fild].loc[x].sum()['score'] if set(x).issubset(target_indexes) else 0 for x in items_for_rank[fild]]
/tmp/ipykernel_2830/3227357535.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  items_for_rank['score_total'] += items_for_rank['score_' + fild]

,item_id,popularity,position,name,artists,genres,albums,score_artists,score_albums,score_genres,score_total
7,51241318,85244,301.481676,In The End,"[1802873, 3135644, 9012818]",[74],"[5239478, 13040087, 13131618, 15177310, 154524...",0.09375,0.349398,0.034483,0.477630
2410,34568038,11124,322.385653,Кольщик,[42607],[12],"[10905, 11145, 458991]",0.06250,0.036145,0.344828,0.443472
237,44484514,35947,289.686705,Shadow,[6308207],[16],"[5968842, 6103179, 6462933, 6592603, 6613463, ...",0.03125,0.204819,0.137931,0.374000
77,44279380,54709,266.968945,Плакала,[915312],"[11, 16]","[5933974, 6167921, 6231886, 6244140, 6613463, ...",0.00000,0.000000,0.206897,0.206897
76,28036311,54716,305.181994,Still Loving You,[90],"[59, 102]","[3347224, 4761557, 4986720, 7823127, 16041082]",0.03125,0.060241,0.103448,0.194939
228,41667460,36508,291.151556,Angetenar,[4084181],[16],"[5472076, 5855106, 5855188, 5887536, 7152451, ...",0.00000,0.000000,0.137931,0.137931
9,45499814,84748,221.481262,Life,[5007577],"[11, 20]","[6109461, 7094821, 7152451, 7170954, 7285586, ...",0.00000,0.000000,0.103448,0.103448
34,44184116,67895,210.717623,Незабудка,[6125147],"[11, 20]",[5916387],0.00000,0.000000,0.103448,0.103448
15,51516485,78370,330.951844,bad guy,[4353492],[70],"[7190880, 9639438, 16813354, 16828669, 1682898...",0.00000,0.000000,0.000000,0.000000
931,36664892,19476,356.474327,Я вернусь,[218238],"[2, 19, 102, 325, 61]","[4620360, 4654988]",0.00000,0.000000,0.000000,0.000000

In [32]:
recs_df['item_id'].to_list()

[51241318,
 34568038,
 44484514,
 44279380,
 28036311,
 41667460,
 45499814,
 44184116,
 51516485,
 36664892]